{% extends "layout.html" %}
{% load static %}
{% block title %}
    Category List
{% endblock title %}

    {% block css_file %}
    
      <link rel="stylesheet" href="{% static 'courses/css/b.css' %}">

    {% endblock  %}
{% block body %}
<div class="container mt-3">
    <div class="row">
        <div class="col-3" >  
            <table class="table table-sm table-bordered ">
                <thead>
                  <tr>
                    <th>Name</th>
                    
                  </tr>
                </thead>
                <tbody>
                    {% for category in categories %}
                      <tr>
                        <td>{{category.name}}</td>
                        
                      </tr>
                    {% endfor %}    
                </tbody>
            </table>    
          </div>
    </div>
</div>

{% endblock body %}