{% extends "layout.html" %}
{% load static %}
{% block title %}
    Course Create
    {% endblock title %}

    {% block css_file %}
    
      <link rel="stylesheet" href="{% static 'courses/css/b.css' %}">

    {% endblock  %}
{% block body %}
<div class="container mt-3">
    <div class="row">
        <div class="col-12" >
            

            <form action="{% url "course_create" %}" method= "POST" enctype="multipart/form-data">
                 {% csrf_token %}

                 {% for field in form %}
                    <div class="mb-3">

                        <label class="form-label" for="{{field.title.id_for_label}}">{{field.label}}</label>
                        {{ field }}

                    </div>
                 {% endfor %}
                 
                
                <button class="btn btn-primary" type="submit">Kaydet</button>
            </form>
        </div>
    </div>
</div>

{% endblock body %}