{% extends "layout.html" %}
{% load static %}
{% block title %}
    Details
{% endblock title %}

{% block css_file %}
    <link rel="stylesheet" href="{% static 'courses/css/b.css' %}">
{% endblock %}

{% block body %}
<div class="container mt-3">
    <div class="row">
        <div class="col-3">
            <img class="card-img-top" src="{{ Course.image.url }}" alt="{{ Course.title }}">
        </div>

        <div class="col-9">
            <h1 class="h3">{{ Course.title }}</h1>
            <p>{{ Course.description|safe }}</p>
            <h2>Kursa Kaydolan Kullanıcılar</h2>
            <ul>
                {% for kullanici in Course.kullanicilar.all %}
                    <li>{{ kullanici.username }}</li>
                    
                {% endfor %}
                
            </ul>
            <p>Toplam kayıtlı kullanıcı sayısı: {{ Course.kullanicilar.all|length }}</p>

            {% if not user.is_authenticated %}
                <p>Giriş yapmadan kayıt olamazsınız. <a href="{% url 'user_login' %}">Giriş yapın</a></p>
            {% else %}
                <h2>Kursa Kaydol</h2>
                <form method="post" action="{% url 'register_for_course' Course.id %}">
                    {% csrf_token %}
                    {% if kayitli_mi %}
                        <p class="alert alert-danger">Bu kursa kayıtlısınız.</p>
                    {% else %}
                    <button type="submit" class = "btn btn-primary">Kursa Kayıt Ol</button>
                    {% endif %}
                </form>
            {% endif %}

            
        </div>
    </div>
</div>
{% endblock body %}
