{% comment %} <div class="list-group">
    <a href="#" class="list-group-item list-group-action">programlama</a>
    <a href="#" class="list-group-item list-group-action">Web</a>
    <a href="#" class="list-group-item list-group-action">Mobil</a>
  </div> {% endcomment %}
  <div class="list-group">    
    {% for categor in categories %}
       <a href="{% url 'courses_by' categor.slug %}" class="list-group-item list-group-action">
        {{categor.name|title}}
      </a>
       {% endfor %}
 </div>