{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title> CourseApp | 
      {% block title %}
      {% endblock title %} 
    </title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" integrity="sha512-CpIKUSyh9QX2+zSdfGP+eWLx23C8Dj9/XmHjZY2uDtfkdLGo0uY12jgcnkX9vXOgYajEKb/jiw67EYm+kBf+6g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
    {% block css_file %}
    
      
    {% endblock  %}


<body>
    <!--navbar-->
  {% include "partials/_navbar.html" %}

  {% block body %}
                    
  {% endblock body %}
      
      <script src="{% static 'js/bootstrap.min.js' %}" integrity="sha512-5BqtYqlWfJemW5+v+TZUs22uigI8tXeVah5S/1Z6qBLVO7gakAOtkOzUtgq6dsIo5c0NJdmGPs0H9I+2OHUHVQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>